::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 8px;
  margin-bottom: 8px;
}
/* 
::-webkit-scrollbar-thumb {
  background-color: #14171a;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.2;
} */
